.ImageCarousel_Container {
  width: 100%;
  height: fit-content;
  margin: 0;
  box-sizing: border-box;
}

.ImageCarousel_Wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Pagination_Container {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Pagination_Menu {
  display: flex;
  justify-content: center;
}

.Cards_Container {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  margin: 0;
  padding-top: 8px;
  padding-right: 3rem;
  padding-bottom: 16px;
  padding-left: 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}