.IndexMenu_Container {
  width: 100%;
  height: fit-content;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.CategoryMenu_Button {
  text-transform: lowercase;
  color: #a3b1be;
}

.CategoryMenu_Button > p {
  margin: 0;
}


.CategoryMenu_Button > p::first-letter {
  text-transform: capitalize;
}

.ActiveCategory {
  border: 1px solid #f5ac10;
  background-color: #15161b;
  box-shadow: 0px 0px 5px 0px #000;
  color: #f5ac10;
  border-right-color: #f5ac10;
}
