html {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #F5AC10;
  text-decoration: underline;
}
